@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light-blue1: 201 100% 96%;
    --light-blue2: 200 88% 90%;
    --light-blue3: 200 71% 80%;
    --light-blue4: 200 66% 69%;
    --light-blue5: 200 60% 58%;
    --light-blue6: 200 54% 49%;
    --light-blue7: 200 59% 43%;
    --light-blue8: 200 68% 35%;
    --light-blue9: 200 72% 31%;
    --light-blue10: 200 82% 24%;

    --green1: 125 65% 93%;
    --green2: 126 49% 84%;
    --green3: 122 42% 75%;
    --green4: 123 38% 63%;
    --green5: 123 35% 51%;
    --green6: 122 39% 41%;
    --green7: 122 47% 35%;
    --green8: 125 56% 29%;
    --green9: 125 73% 20%;
    --green10: 125 86% 14%;

    --cool-gray1: 216 33% 97%;
    --cool-gray2: 214 15% 91%;
    --cool-gray3: 210 16% 82%;
    --cool-gray4: 211 13% 65%;
    --cool-gray5: 211 10% 53%;
    --cool-gray6: 211 12% 43%;
    --cool-gray7: 209 14% 37%;
    --cool-gray8: 209 18% 30%;
    --cool-gray9: 209 20% 25%;
    --cool-gray10: 210 24% 16%;

    --purple1: 262 61% 93%;
    --purple2: 261 68% 84%;
    --purple3: 261 54% 68%;
    --purple4: 261 47% 58%;
    --purple5: 262 43% 51%;
    --purple6: 262 48% 46%;
    --purple7: 262 60% 38%;
    --purple8: 262 69% 31%;
    --purple9: 262 72% 25%;
    --purple10: 263 85% 18%;

    --red1: 360 100% 97%;
    --red2: 360 82% 89%;
    --red3: 360 77% 78%;
    --red4: 360 71% 66%;
    --red5: 360 64% 55%;
    --red6: 360 67% 44%;
    --red7: 360 72% 38%;
    --red8: 360 79% 32%;
    --red9: 360 85% 25%;
    --red10: 360 92% 20%;

    --yellow1: 45 100% 96%;
    --yellow2: 45 90% 88%;
    --yellow3: 45 86% 81%;
    --yellow4: 43 90% 76%;
    --yellow5: 43 89% 70%;
    --yellow6: 42 78% 60%;
    --yellow7: 42 63% 48%;
    --yellow8: 43 72% 37%;
    --yellow9: 43 77% 27%;
    --yellow10: 43 86% 17%;

    --background: 0 0% 100%;
    --foreground: 210 24% 16%;

    --primary1: 125 56% 29%;
    --primary1-foreground: 125 76% 96%;

    --primary2: 200 68% 35%;
    --primary2-foreground: 200 76% 96%;

    --secondary: 216 33% 97%;
    --scondary-foreground: 200 82% 24%;

    --destructive: 360 64% 55%;
    --destructive-foreground: 360 100% 97%;

    --warning: 42 78% 60%;
    --warning-foreground: 45 100% 96%;

    --radius: 0.5rem;
  }

  body {
    @apply bg-secondary text-foreground;
  }
}

body {
  font-family: "Inter", sans-serif;
}
